<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2016. Self Training Systems, Inc - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by TienNguyen <tien.workinfo@gmail.com - tien.workinfo@icloud.com>, October 2015
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.training.tiennguyen.phonebook">

    <!-- Add the correct app permission(s) for Firebase here -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- App -->
    <application
        android:name=".PhoneBookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.training.tiennguyen.phonebook.ui.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Facebook Configuration -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Twitter Configuration -->
        <activity android:name="com.firebase.ui.auth.twitter.TwitterPromptActivity" />

        <meta-data
            android:name="com.firebase.ui.TwitterKey"
            android:value="@string/twitter_app_key" />
        <meta-data
            android:name="com.firebase.ui.TwitterSecret"
            android:value="@string/twitter_app_secret" />
    </application>

</manifest>
